/*
GENERAL
*/
a:link,
a:visited,
a:hover,
a:focus,
a:active,
a:visited:hover {
  color: black;
  text-decoration: none;
}

@font-face {
  font-family: "Simple";
  src: url("../fonts/Simple-Regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Simple-Regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/Simple-Regular.otf") format("opentype"),
    /* Open Type Font */ url("../fonts/Simple-Regular.svg") format("svg"),
    /* Legacy iOS */ url("../fonts/Simple-Regular.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/Simple-Regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/Simple-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Simple";
  src: url("../fonts/Simple-Oblique.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Simple-Oblique.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/Simple-Oblique.otf") format("opentype"),
    /* Open Type Font */ url("../fonts/Simple-Oblique.svg") format("svg"),
    /* Legacy iOS */ url("../fonts/Simple-Oblique.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/Simple-Oblique.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/Simple-Oblique.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Simple";
  src: url("../fonts/Simple-Bold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Simple-Bold.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/Simple-Bold.otf") format("opentype"),
    /* Open Type Font */ url("../fonts/Simple-Bold.svg") format("svg"),
    /* Legacy iOS */ url("../fonts/Simple-Bold.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/Simple-Bold.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/Simple-Bold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Simple";
  src: url("../fonts/Simple-BoldOblique.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Simple-BoldOblique.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/Simple-BoldOblique.otf") format("opentype"),
    /* Open Type Font */ url("../fonts/Simple-BoldOblique.svg") format("svg"),
    /* Legacy iOS */ url("../fonts/Simple-BoldOblique.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/Simple-BoldOblique.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/Simple-BoldOblique.woff2")
      format("woff2"); /* Modern Browsers */
  font-weight: 700;
  font-style: italic;
}

body {
  font-family: "Merriweather", "Times New Roman", "Times", serif;
}
h1,
h2,
h3 {
  font-family: "Simple", "Menlo", "Monaco", "Consolas", "Courier New", monospace;
  font-weight: 400;
}

/*
NAVBAR
*/
.navbar-creators {
  text-align: right;
  float: right;
  font-size: 0.8em;
  height: 50px;
}
.navbar-brand {
  padding: 0;
}
.navbar-brand img {
  height: 50px;
}
/*
CATEGORIES
*/
.card {
  border-color: rgba(0, 0, 0, 0.25);
}
.category-header,
.subcategory-header {
  background: #343a40;
  color: #fff;
  margin-bottom: 0.5rem;
  padding: 5px;
  font-weight: 400;
  font-family: "Simple", "Menlo", "Monaco", "Consolas", "Courier New", monospace;
}
.subcategory-header {
  background: #fff;
  color: #000;
  border-top: 1px dashed rgba(0, 0, 0, 0.5);
  padding-left: 12px;
  padding-right: 12px;
}
.counter-text {
  font-size: 0.75em;
  line-height: 2;
  float: right;
  font-style: italic;
}

/*
PRODUCTS
*/
.product-wrapper {
  width: 107px;
  padding: 2px;
  margin-bottom: 0.5rem;
  font-size: 0.6rem;
  line-height: 0.8rem;
  vertical-align: middle;
  background: #fff;
}
.logo {
  max-width: 90%;
  max-height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
}
.list-inline {
  padding-left: 12px;
  padding-right: 12px;
}
.list-inline-item {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.product-link {
  vertical-align: middle;
}
.product-name {
  display: block;
}

.modal-header {
  background: #343a40;
  color: #fff;
  margin-bottom: 0.5rem;
  padding: 0.5em;
  font-weight: 400;
  font-family: "Simple", "Menlo", "Monaco", "Consolas", "Courier New", monospace;
}
.modal-header .close {
  color: #fff;
}

.modal-body {
  padding: 1.5rem;
}

.modal-content {
  font-size: 0.75em;
}

/*
Digital Method Bubbles
*/
.digital-method,
.legend-item-digital-method-icon {
  margin-top: 0.5em;
  margin-left: 0.1em;
  margin-right: 0.1em;
  color: #000;
  background-color: #f2f2f2;
  border-radius: 100%;
  border: 1px solid #ccc;
  width: 30px;
  height: 15px;
  font-size: 8px;
  display: inline-block;
}

/*
LEGEND
*/
.row-legend {
  margin-bottom: 2em;
}
.legend-description {
  font-weight: bold;
}
.legend-item {
  display: inline-block;
}
.legend-item div {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.5em;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}

.legend-item-apptype div {
  border-style: solid;
  border-width: 2px;
  width: 100%;
}
.apptype-portable {
  border-color: #f8cd5d;
}
.apptype-desktop {
  border-color: #f5961e;
}
.apptype-client-server {
  border-color: #d62048;
}
.apptype-web {
  border-color: #124676;
}
.apptype-browser {
  border-color: #31acd6;
}
.apptype-other {
  border-color: #6ecbd2;
}

.legend-item-fr div {
  border-color: #aaa;
}
.fr-unknown {
  border-style: none;
  border-width: 2px;
}
.fr-gering {
  border-style: dotted;
  border-width: 2px;
}
.fr-moderat {
  border-style: dashed;
  border-width: 2px;
}
.fr-hoch {
  border-style: solid;
  border-width: 2px;
}

.legend-item-digital-method {
  display: block;
}
.legend-item-digital-method div {
  padding: 0;
}

/*
Footer
*/
footer img {
  margin-left: 10px;
  margin-right: 10px;
}
footer img:first-child {
  margin-left: 0;
}
footer p {
  margin-top: 1em;
  margin-bottom: 1em;
}
